<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Description change</title>
</head>

<body>

<h3>Description change</h3>
<form action="/products/updateDescriptionById" method="post">
    Product's id: <input type="text" name="productId"><br />
    Currently password: <input type="password" name="password"><br />
    New description for product: <input type="text" name="newDescription"><br />
    <button type="submit">Change the description</button>
</form>

</body>

</html>