<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Registration</title>
</head>

    <body>

        <h3>Добавление нового студента в базу данных</h3>
        <form action="/users/{displayedUsername}/{username}/{password}/{passwordRetry}" method="post">
          Username: <input type="text" name="displayedUsername"><br />
          Login: <input type="text" name="username"><br />
          Password: <input type="password" name="password"><br />
          Confirm Password: <input type="password" name="passwordRetry"><br />
          <button type="submit">Register</button>
        </form>

    </body>

</html>